<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Fume</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "fume/fume.css" %}" />
	<link href="{% static "fume/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "fume/carousel.css" %}" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
  <div class="container">
    <nav>
      <div class="clearfix">
        <ul class="login">
            <li style="display:none">{{ user }}</li>
            {% if user.is_anonymous %}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
            {% else %}
            <li><a href="/logout">Log Out</a></li>
            {% endif %}
        </ul>
      </div>
      <ul class="menu">
        <li><a href="#">Browse</a></li>
        <li><a href="#">Forum</a></li>
        <li><a href="/">Featured</a></li>
      </ul>
    </nav>
  </div>
    
  <div class="container first">
    <div class="leftcontainer">
      <ul class="leftlist">
        <li class="type">Genre</li>
        <li class="item"><a href="#">RPG</a></li>
        <li class="item"><a href="#">Racing</a></li>
        <li class="item"><a href="#">Shooting</a></li>
        <li class="item"><a href="#">Strategy</a></li>
      </ul>
	  
      <ul class="leftlist">
        <li class="type">Category</li>
        <li class="item"><a href="#">Top Selling</a></li>
        <li class="item"><a href="#">On Sale</a></li>
        <li class="item"><a href="#">New Games</a></li>
        <li class="item"><a href="#">Early Access</a></li>
      </ul>
      <div>
        <h6>You have {{rewards}} Rewards.</h6>
      </div>
    </div>
	
	<div class="rightcontainer">
		<h2>Featured</h2>
		<!-- ==================================================================================== -->
		<!-- =================================== Carousel ======================================= -->
		<!-- ==================================================================================== -->
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
			{% for eachGame in ftrList %}
				<li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" {% endif %}></li>
			{% endfor %}
		  </ol>
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
			{% for eachGame in ftrList %}
				<div class="item {% if forloop.first %} active {% endif %}">
					<a href="/games/{{eachGame.game_id}}"><img src="{{ eachGame.getImageList.0.image.url }}" alt="Slide {{ forloop.counter0 }}"></a>
					<div class="container">
						<div class="carousel-caption">
					  		<p>{{eachGame.gameDescription}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		  </div>
		  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		  </a>
		</div>
		<!-- ==================================================================================== -->
		<!-- =================================== Carousel ======================================= -->
		<!-- ==================================================================================== -->
		{% if rcmdList %}
		<div class="recommended">
        	<h2>Recommended</h2>
				{% for eachGame in rcmdList %}
					<div class="recItem">
					  <a href="/games/{{eachGame.game_id}}"><img class="small" src="{{eachGame.getImageList.0.image.url}}" alt=""></a>
					  <div class="text">
						<h4>{{eachGame.game}}</h4>
						<p>{{eachGame.gameDescription}}</p>
					  </div>
					</div>
				{% endfor %}
		</div>
		{% endif %}
	</div>
	<script type="text/javascript" src="{% static "fume/carousel.js" %}"></script>


</body>
</html>
