<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{game.game}}</title>
  {% load staticfiles %}

  <link rel="stylesheet" type="text/css" href="{% static "fume/games.css" %}" />
  </head>
  <body>
    <div class="container nav">
      <nav>
        <div class="clearfix">
          <ul class="login">
            <li style="display:none">{{ user }}</li>
            {% if user.is_anonymous %}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
            {% else %}
            <li><a href="/logout">Log Out</a></li>
            {% endif %}
          </ul>
        </div>
        <ul class="menu">
          <li><a href="/browse">Browse</a></li>
          <li><a href="#">Forum</a></li>
          <li><a href="/">Featured</a></li>
        </ul>
      </nav>
    </div>

    <div class="container top">

    </div>
    <div class="container">
    	<div class="leftcontainer">
      		<div class="gameImage">
      	  		<img class="big" src="{{ image2.image.url }}" alt="">  
      		</div>

      		<div class="purchase" style="margin: 10px 5px 5px 5px;">
        		<a href="/purchase/{{game.game_id}}"><h3 class="purchaseB">Purchase</h3></a>
      		</div>
    	</div>

    	<div class="rightcontainer" style="margin-left:40px;">
		<div class="gameIntro">
        		<img class="introImage" src="{{  image1.image.url }}" alt="">
        		<p class="intro">{{game.gameDescription}}</p>
       	 		<div class="tags">
          		<ul class="tagging">
            		{% for tag in tags %}
              			<li class="tag"><a href="#">{{tag.tag}}</a></li>
            		{% endfor %}
					{% if purchased %}
            		<li class="tag addB"><a href="/tag/{{tag_id}}"><img id="addbutton" src="{% static "fume/addbutton.jpg" %}" alt=""></a></li>
					{% endif %}
          		</ul>
        		</div>
      		</div>
    	</div>
    </div>

    <div class="container">
      <div class="comments">
    

      </div>
    </div>

  </body>
</html>
